<div class="container">
    <form [formGroup]="editarForm" (ngSubmit)="postForm()">
        <div class="form-group">
            <div id="div1">
                <label for="exampleFormControlInput1">Cliente</label>
                <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <th scope="row">{{cliente.nombre}}</th>
                    </tr>
                </tbody>
              </table>
              </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Usuario</label>
            <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario" #usuario>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Fecha</label>
            <input type="date" class="form-control" placeholder="Fecha">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Estado</label>
            <select name="select" class="form-control">
                <option value="value1" selected>Pendiente</option>
                <option value="value2" >Entregado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Id</label>
            <input type="text" class="form-control" placeholder="Id Producto" formControlName="id" #id>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Producto</label>
            <input type="text" class="form-control" placeholder="Nombre del Producto" formControlName="nombre" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Precio</label>
            <input type="text" class="form-control" placeholder="Precio" formControlName="precio" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Cantidad</label>
            <input type="number" class="form-control" placeholder="Cantidad">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Total</label>
            <input type="number" class="form-control" placeholder="Total" >
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary" (click)="getInputValue(usuario.value)">Guardar </button>
        <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>
    </form>
</div>
